<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaojm.seckill.mapper.ICommodityMapper">
  <resultMap id="BaseResultMap" type="com.zhaojm.seckill.dto.CommodityDTO">
    <id column="commodity_id" jdbcType="INTEGER" property="commodityId" />
    <result column="commodity_name" jdbcType="VARCHAR" property="commodityName" />
    <result column="commodity_desc" jdbcType="VARCHAR" property="commodityDesc" />
    <result column="commodity_stock" jdbcType="BIGINT" property="commodityStock" />
    <result column="commodity_sale" jdbcType="BIGINT" property="commoditySale" />
  </resultMap>
  <sql id="Base_Column_List">
    commodity_id, commodity_name, commodity_desc, commodity_stock, commodity_sale
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commodity
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commodity
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhaojm.seckill.dto.CommodityDTO">
    insert into commodity (commodity_id, commodity_name, commodity_desc, 
      commodity_stock, commodity_sale)
    values (#{commodityId,jdbcType=INTEGER}, #{commodityName,jdbcType=VARCHAR}, #{commodityDesc,jdbcType=VARCHAR}, 
      #{commodityStock,jdbcType=BIGINT}, #{commoditySale,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zhaojm.seckill.dto.CommodityDTO">
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="commodityName != null">
        commodity_name,
      </if>
      <if test="commodityDesc != null">
        commodity_desc,
      </if>
      <if test="commodityStock != null">
        commodity_stock,
      </if>
      <if test="commoditySale != null">
        commodity_sale,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commodityId != null">
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityName != null">
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityDesc != null">
        #{commodityDesc,jdbcType=VARCHAR},
      </if>
      <if test="commodityStock != null">
        #{commodityStock,jdbcType=BIGINT},
      </if>
      <if test="commoditySale != null">
        #{commoditySale,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaojm.seckill.dto.CommodityDTO">
    update commodity
    <set>
      <if test="commodityName != null">
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityDesc != null">
        commodity_desc = #{commodityDesc,jdbcType=VARCHAR},
      </if>
      <if test="commodityStock != null">
        commodity_stock = #{commodityStock,jdbcType=BIGINT},
      </if>
      <if test="commoditySale != null">
        commodity_sale = #{commoditySale,jdbcType=BIGINT},
      </if>
    </set>
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaojm.seckill.dto.CommodityDTO">
    update commodity
    set commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_desc = #{commodityDesc,jdbcType=VARCHAR},
      commodity_stock = #{commodityStock,jdbcType=BIGINT},
      commodity_sale = #{commoditySale,jdbcType=BIGINT}
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </update>
</mapper>